absl-py==0.12.0
astunparse==1.6.3
atomicwrites==1.4.0
attrs @ file:///tmp/build/80754af9/attrs_1604765588209/work
cachetools==4.2.1
certifi==2020.12.5
chardet==4.0.0
cloudpickle==1.6.0
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
cvxpy==1.1.11
cycler==0.10.0
dataclasses==0.6
decorator==4.4.2
dm-tree==0.1.5
ecos==2.0.7.post1
flatbuffers==1.12
gast==0.3.3
google-auth==1.28.0
google-auth-oauthlib==0.4.3
google-pasta==0.2.0
gpflow==2.1.4
grpcio==1.32.0
h5py==2.10.0
idna==2.10
importlib-metadata==3.8.0
iniconfig @ file:///home/linux1/recipes/ci/iniconfig_1610983019677/work
joblib==1.0.1
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
Markdown==3.3.4
matplotlib==3.4.0
more-itertools @ file:///tmp/build/80754af9/more-itertools_1613676688952/work
multipledispatch==0.6.0
mypy==0.812
mypy-extensions==0.4.3
numexpr==2.7.3
numpy==1.19.5
oauthlib==3.1.0
opt-einsum==3.3.0
osqp==0.6.2.post0
packaging @ file:///tmp/build/80754af9/packaging_1611952188834/work
pandas==1.2.3
Pillow==8.1.2
pluggy @ file:///C:/ci/pluggy_1615976530170/work
protobuf==3.15.6
py @ file:///tmp/build/80754af9/py_1607971587848/work
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing @ file:///home/linux1/recipes/ci/pyparsing_1610983426697/work
pytest==6.2.2
python-dateutil==2.8.1
pytz==2021.1
qdldl==0.1.5.post0
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-learn==0.24.1
scipy==1.6.2
scs==2.1.2
six @ file:///C:/ci/six_1605205426665/work
tables==3.6.1
tabulate==0.8.9
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.4.1
tensorflow-estimator==2.4.0
tensorflow-probability==0.12.1
termcolor==1.1.0
threadpoolctl==2.1.0
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
typed-ast==1.4.2
typing-extensions @ file:///home/ktietz/src/ci_mi/typing_extensions_1612808209620/work
urllib3==1.26.4
Werkzeug==1.0.1
wincertstore==0.2
wrapt==1.12.1
zipp @ file:///tmp/build/80754af9/zipp_1615904174917/work
