sphinx
sphinxcontrib-bibtex
sphinx-autodoc-typehints
sphinx-rtd-theme
sphinxcontrib-spelling
ipython
nbsphinx
nbsphinx_link
pandoc
numpy
tensorflow
gpflow
qpsolvers
pandas
matplotlib
scipy
tables
scikit-learn
